/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


.card {
  @apply mx-auto w-full max-w-xl rounded-md border border-slate-300 p-4;
}

.flex-item-center-g3 {
  @apply flex items-center gap-3;
}
